openapi: 3.2.0
info:
  title: Budgetpixel Upscaling API
  version: '2026-06-20'
  contact:
    email: support@budgetpixel.com
    name: BudgetPixel Support
  description: 'Operations tagged Upscaling across 2 of this provider''s published API definitions: budgetpixel-openapi.yaml, budgetpixel-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- description: Production
  url: https://api.budgetpixel.com/v1
security:
- ApiKeyAuth: []
tags:
- name: Upscaling
paths:
  /upscales/{id}:
    get:
      description: 'Poll until `status` is `succeeded`. The upscaled image is returned as a

        short-lived signed `image_url` (valid for several hours; re-call for a fresh

        URL anytime — the underlying object is deleted 24h after generation).

        '
      operationId: getUpscaleJob
      parameters:
      - description: The opaque job id returned by the create endpoint.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpscaleJob'
          description: Current job status. `image_url` is populated once succeeded.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Get upscale job status
      tags:
      - Upscaling
    servers:
    - description: Production
      url: https://api.budgetpixel.com/v1
  /upscales/clarity-upscaler:
    post:
      description: 'Clarity Upscaler — creative AI upscaling that can add detail as it enlarges, steered by creativity/resemblance controls and an optional guiding prompt. 30 credits per image (typically ~60 seconds).


        **Asynchronous.** Returns a job `id` (the image is not in this response). Poll [`GET /v1/upscales/{id}`](/api-reference/upscaling/get-upscale-job-status) until `status` is `succeeded` — the image URL is in that response''s `image_url`.'
      operationId: createUpscale_clarity_upscaler
      requestBody:
        content:
          application/json:
            schema:
              properties:
                creativity:
                  default: 0.35
                  description: How much new detail the model may invent (0.3-0.9 recommended).
                  type: number
                dynamic:
                  default: 6
                  description: HDR effect strength (3-9 for best results).
                  type: number
                image:
                  description: Image to upscale. A public image URL, a data URI, raw base64, or an uploaded-file URL from POST /v1/uploads.
                  type: string
                prompt:
                  description: Optional guiding prompt describing the image content — helps the model invent plausible detail.
                  type: string
                resemblance:
                  default: 0.6
                  description: How closely the result must match the input (0-3).
                  type: number
                scale_factor:
                  default: 2
                  description: Upscale factor (2 or 4).
                  type: number
                seed:
                  description: Seed for reproducible results. Omit for random.
                  type: integer
              required:
              - image
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUpscaleResponse'
          description: Job accepted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Upscale an image with Clarity Upscaler
      tags:
      - Upscaling
    servers:
    - description: Production
      url: https://api.budgetpixel.com/v1
  /upscales/p-image-upscale:
    post:
      description: 'Pruna AI P-Image Upscale — fast image upscaling with results in seconds, up to 32 MP output. Priced by the target resolution tier: 4 MP = 10, 8 MP = 15, 16 MP = 30, 32 MP = 60 credits per image.


        **Asynchronous.** Returns a job `id` (the image is not in this response). Poll [`GET /v1/upscales/{id}`](/api-reference/upscaling/get-upscale-job-status) until `status` is `succeeded` — the image URL is in that response''s `image_url`.'
      operationId: createUpscale_p_image_upscale
      requestBody:
        content:
          application/json:
            schema:
              properties:
                enhance_details:
                  default: false
                  description: Enhance textures and fine detail (may increase contrast).
                  type: boolean
                enhance_realism:
                  default: false
                  description: Improve realism — recommended for AI-generated images.
                  type: boolean
                image:
                  description: Image to upscale. A public image URL, a data URI, raw base64, or an uploaded-file URL from POST /v1/uploads.
                  type: string
                output_format:
                  default: jpg
                  description: Output format (jpg recommended; png files get very large at high megapixel targets).
                  enum:
                  - jpg
                  - png
                  - webp
                  type: string
                target:
                  default: 4
                  description: 'Target output resolution in megapixels. Sets the price: 4 MP = 10, 8 MP = 15, 16 MP = 30, 32 MP = 60 credits.'
                  enum:
                  - 4
                  - 8
                  - 16
                  - 32
                  type: integer
              required:
              - image
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUpscaleResponse'
          description: Job accepted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Upscale an image with P-Image Upscale
      tags:
      - Upscaling
    servers:
    - description: Production
      url: https://api.budgetpixel.com/v1
  /video-upscales/{id}:
    get:
      description: 'Poll until `status` is `succeeded`. The upscaled video is returned as a

        short-lived signed `video_url` (valid for several hours; re-call for a fresh

        URL anytime — the underlying object is deleted 24h after generation).

        '
      operationId: getVideoUpscaleJob
      parameters:
      - description: The opaque job id returned by the create endpoint.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MotionJob'
          description: Current job status. `video_url` is populated once succeeded.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Get video upscale job status
      tags:
      - Upscaling
    servers:
    - description: Production
      url: https://api.budgetpixel.com/v1
  /video-upscales/topazlabs-video-upscale:
    post:
      description: 'Topaz Labs professional-grade AI video upscaling to 1080p or 4K at 30 or 60 fps. Priced per second of the INPUT video by target tier: 1080p30 = 15, 1080p60 = 30, 4K30 = 60, 4K60 = 120 credits/second (input up to 20 seconds, ≤100MB).


        **Asynchronous.** Returns a job `id` (the video is not in this response). Poll [`GET /v1/video-upscales/{id}`](/api-reference/upscaling/get-video-upscale-job-status) until `status` is `succeeded` — the video URL is in that response''s `video_url`.'
      operationId: createVideoUpscale_topazlabs_video_upscale
      requestBody:
        content:
          application/json:
            schema:
              properties:
                target_fps:
                  default: 30
                  description: Target frame rate. 60 fps doubles the per-second rate.
                  enum:
                  - 30
                  - 60
                  type: integer
                target_resolution:
                  default: 1080p
                  description: Target output resolution. Sets the per-second rate together with target_fps.
                  enum:
                  - 1080p
                  - 4k
                  type: string
                video:
                  description: The video to upscale (up to 20 seconds, MP4/MOV/WebM, ≤100MB). A public video URL or an uploaded-file URL from POST /v1/uploads (videos are passed by URL, not inlined).
                  type: string
              required:
              - video
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMotionResponse'
          description: Job accepted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Upscale a video with Topaz Labs Video Upscale
      tags:
      - Upscaling
    servers:
    - description: Production
      url: https://api.budgetpixel.com/v1
components:
  responses:
    Forbidden:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Authenticated but not permitted (plan gate, ownership, account restriction). Content-moderation blocks are 400, not 403.
    BadRequest:
      content:
        application/json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/Error'
            - $ref: '#/components/schemas/ModerationBlocked'
      description: The request was malformed, referenced an unavailable model, or was blocked by input content moderation (moderation blocks carry a `restriction_reason` — see ModerationBlocked).
    TooManyRequests:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Rate or queue limit reached. Retry after a short delay.
    Unauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Missing or invalid API key.
    NotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: The requested job was not found.
  schemas:
    MotionJob:
      properties:
        completed_at:
          format: date-time
          type: string
        created_at:
          format: date-time
          type: string
        error_message:
          type: string
        id:
          type: string
        model:
          type: string
        status:
          description: Lifecycle state. `succeeded`/`failed`/`canceled` are terminal.
          enum:
          - pending
          - processing
          - succeeded
          - failed
          - canceled
          type: string
        video_url:
          description: Short-lived presigned URL; present once `status=succeeded`.
          format: uri
          type: string
      type: object
    UpscaleJob:
      properties:
        completed_at:
          format: date-time
          type: string
        created_at:
          format: date-time
          type: string
        error_message:
          type: string
        id:
          type: string
        image_url:
          description: Short-lived presigned URL of the upscaled image; present once `status=succeeded`.
          format: uri
          type: string
        model:
          type: string
        status:
          description: Lifecycle state. `succeeded`/`failed`/`canceled` are terminal.
          enum:
          - pending
          - processing
          - succeeded
          - failed
          - canceled
          type: string
      type: object
    CreateMotionResponse:
      properties:
        credits:
          description: Total price of this job (seconds x the model's per-second rate).
          type: integer
        id:
          description: Opaque job id (`mtn_...`) — use it to poll status.
          type: string
        message:
          type: string
        model:
          type: string
        seconds:
          description: Billed duration — the reference video's length
          rounded up.: null
          type: integer
        status:
          $ref: '#/components/schemas/JobStatus'
      type: object
    ModerationBlocked:
      description: Returned (with HTTP 400) when the input content moderation gate blocks a generation request. The block is a property of the request's prompt or input media — reword the prompt or change the input and retry. Branch on `restriction_reason`, which is stable and machine-readable.
      properties:
        error:
          description: Human-readable explanation of the block.
          type: string
        restriction_reason:
          description: Stable machine-readable block reason.
          enum:
          - input_csam
          - input_explicit_adult
          - input_upload_nudity
          - input_celebrity_likeness
          - strict_model_nsfw
          type: string
      required:
      - error
      - restriction_reason
      type: object
    JobStatus:
      description: Lifecycle state. `succeeded`/`failed`/`timeout` are terminal.
      enum:
      - pending
      - starting
      - processing
      - completing
      - succeeded
      - failed
      - timeout
      type: string
    CreateUpscaleResponse:
      properties:
        credits:
          description: Total price of this job (flat per image
          or the target-resolution tier for p-image-upscale).: null
          type: integer
        id:
          description: Opaque job id — use it to poll status.
          type: string
        message:
          type: string
        model:
          type: string
        status:
          $ref: '#/components/schemas/JobStatus'
      type: object
    Error:
      properties:
        error:
          properties:
            code:
              description: Stable machine-readable code.
              example: model_not_available
              type: string
            message:
              type: string
            type:
              description: Error category.
              example: invalid_request_error
              type: string
          required:
          - type
          - code
          - message
          type: object
      required:
      - error
      type: object
  securitySchemes:
    ApiKeyAuth:
      bearerFormat: bpx_live_*
      description: 'API key as a bearer token: Authorization: Bearer bpx_live_xxx'
      scheme: bearer
      type: http
x-refined-from:
- budgetpixel-openapi.yaml
- budgetpixel-openapi.yaml
