openapi: 3.2.0
info:
  title: Budgetpixel Black Forest Labs API
  version: '2026-06-20'
  contact:
    email: support@budgetpixel.com
    name: BudgetPixel Support
  description: 'Operations tagged Black Forest Labs across 2 of this provider''s published API definitions: budgetpixel-openapi.yaml, budgetpixel-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- description: Production
  url: https://api.budgetpixel.com/v1
security:
- ApiKeyAuth: []
tags:
- description: FLUX image models
  name: Black Forest Labs
paths:
  /images/flux-1.1-pro:
    post:
      description: 'Black Forest Labs FLUX 1.1 Pro — fast, high-quality generation with enhanced prompt adherence. Text-to-image and single-image editing.


        **Asynchronous.** Returns a job `id` (the image is not in this response). Poll [`GET /v1/images/{id}`](/api-reference/images/get-image-job-status) until `status` is `succeeded` — the generated image URLs are in that response''s `images` array (each `{ url, position }`).'
      operationId: createImage_flux_1_1_pro
      requestBody:
        content:
          application/json:
            schema:
              properties:
                aspect_ratio:
                  default: '1:1'
                  description: Output aspect ratio.
                  enum:
                  - '1:1'
                  - '16:9'
                  - '9:16'
                  - '4:3'
                  - '3:4'
                  - '3:2'
                  - '2:3'
                  - '5:4'
                  - '4:5'
                  type: string
                image:
                  description: Optional image-to-image input. Provide a public image URL, a data URI, raw base64, or an uploaded-file URL from POST /v1/uploads. Omit for text-to-image.
                  type: string
                num_images:
                  default: 1
                  description: Number of images to generate.
                  maximum: 4
                  minimum: 1
                  type: integer
                prompt:
                  description: Text description of the image to generate.
                  type: string
                seed:
                  description: Seed for reproducible generation. Omit for random.
                  type: integer
              required:
              - prompt
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateImageResponse'
          description: Job accepted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Generate image with FLUX 1.1 Pro
      tags:
      - Black Forest Labs
    servers:
    - description: Production
      url: https://api.budgetpixel.com/v1
  /images/flux-2-dev:
    post:
      description: 'Black Forest Labs FLUX 2 Dev — next-generation FLUX quality with multi-reference image editing (up to 4 reference images) and seed control.


        **Asynchronous.** Returns a job `id` (the image is not in this response). Poll [`GET /v1/images/{id}`](/api-reference/images/get-image-job-status) until `status` is `succeeded` — the generated image URLs are in that response''s `images` array (each `{ url, position }`).'
      operationId: createImage_flux_2_dev
      requestBody:
        content:
          application/json:
            schema:
              properties:
                aspect_ratio:
                  default: '1:1'
                  description: Output aspect ratio.
                  enum:
                  - '1:1'
                  - '4:3'
                  - '3:4'
                  - '9:16'
                  - '16:9'
                  - '2:3'
                  - '3:2'
                  type: string
                num_images:
                  default: 1
                  description: Number of images to generate.
                  maximum: 4
                  minimum: 1
                  type: integer
                prompt:
                  description: Text description of the image to generate.
                  type: string
                reference_images:
                  description: Optional reference images (up to 4) for image editing and multi-reference composition. Each item is a public image URL, a data URI, raw base64, or an uploaded-file URL from POST /v1/uploads. Omit for text-to-image.
                  items:
                    type: string
                  maxItems: 4
                  type: array
                seed:
                  description: Seed for reproducible generation. Omit for random.
                  type: integer
              required:
              - prompt
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateImageResponse'
          description: Job accepted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Generate image with FLUX 2 Dev
      tags:
      - Black Forest Labs
    servers:
    - description: Production
      url: https://api.budgetpixel.com/v1
  /images/flux-2-klein:
    post:
      description: 'Black Forest Labs FLUX.2 Klein — sub-second generation with excellent prompt adherence. Text-to-image and image editing with up to 3 reference images, megapixel-based resolution, and seed control.


        **Asynchronous.** Returns a job `id` (the image is not in this response). Poll [`GET /v1/images/{id}`](/api-reference/images/get-image-job-status) until `status` is `succeeded` — the generated image URLs are in that response''s `images` array (each `{ url, position }`).'
      operationId: createImage_flux_2_klein
      requestBody:
        content:
          application/json:
            schema:
              properties:
                aspect_ratio:
                  default: '1:1'
                  description: Output aspect ratio.
                  enum:
                  - '1:1'
                  - '16:9'
                  - '9:16'
                  - '4:3'
                  - '3:4'
                  - '3:2'
                  - '2:3'
                  - '21:9'
                  - '9:21'
                  - '5:4'
                  - '4:5'
                  - match_input_image
                  type: string
                megapixel:
                  default: 1
                  description: Output resolution in megapixels.
                  enum:
                  - 0.5
                  - 1
                  - 2
                  - 4
                  type: number
                num_images:
                  default: 1
                  description: Number of images to generate.
                  maximum: 4
                  minimum: 1
                  type: integer
                prompt:
                  description: Text description of the image to generate.
                  type: string
                reference_images:
                  description: Optional reference images (up to 3) for image editing. Each item is a public image URL, a data URI, raw base64, or an uploaded-file URL from POST /v1/uploads. Omit for text-to-image. Use aspect_ratio "match_input_image" to keep the first reference's aspect ratio.
                  items:
                    type: string
                  maxItems: 3
                  type: array
                seed:
                  description: Seed for reproducible generation. Omit for random.
                  type: integer
              required:
              - prompt
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateImageResponse'
          description: Job accepted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Generate image with FLUX 2 Klein
      tags:
      - Black Forest Labs
    servers:
    - description: Production
      url: https://api.budgetpixel.com/v1
  /images/flux-2-pro:
    post:
      description: 'Black Forest Labs FLUX 2 Pro — premium quality with megapixel-based resolution and seed control.


        **Asynchronous.** Returns a job `id` (the image is not in this response). Poll [`GET /v1/images/{id}`](/api-reference/images/get-image-job-status) until `status` is `succeeded` — the generated image URLs are in that response''s `images` array (each `{ url, position }`).'
      operationId: createImage_flux_2_pro
      requestBody:
        content:
          application/json:
            schema:
              properties:
                aspect_ratio:
                  default: '1:1'
                  description: Output aspect ratio.
                  enum:
                  - '1:1'
                  - '4:3'
                  - '3:4'
                  - '9:16'
                  - '16:9'
                  - '2:3'
                  - '3:2'
                  type: string
                image:
                  description: Optional image-to-image input. Provide a public image URL, a data URI, raw base64, or an uploaded-file URL from POST /v1/uploads. Omit for text-to-image.
                  type: string
                num_images:
                  default: 1
                  description: Number of images to generate.
                  maximum: 4
                  minimum: 1
                  type: integer
                prompt:
                  description: Text description of the image to generate.
                  type: string
                seed:
                  description: Seed for reproducible generation. Omit for random.
                  type: integer
                size:
                  default: 1MP
                  description: Output resolution (megapixels).
                  enum:
                  - 0.5MP
                  - 1MP
                  - 2MP
                  - 4MP
                  type: string
              required:
              - prompt
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateImageResponse'
          description: Job accepted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Generate image with FLUX 2 Pro
      tags:
      - Black Forest Labs
    servers:
    - description: Production
      url: https://api.budgetpixel.com/v1
components:
  responses:
    Forbidden:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Authenticated but not permitted (plan gate, ownership, account restriction). Content-moderation blocks are 400, not 403.
    BadRequest:
      content:
        application/json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/Error'
            - $ref: '#/components/schemas/ModerationBlocked'
      description: The request was malformed, referenced an unavailable model, or was blocked by input content moderation (moderation blocks carry a `restriction_reason` — see ModerationBlocked).
    TooManyRequests:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Rate or queue limit reached. Retry after a short delay.
    Unauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Missing or invalid API key.
  schemas:
    CreateImageResponse:
      properties:
        id:
          description: Opaque job id — use it to poll status.
          example: img_a1b2c3d4e5f6
          type: string
        message:
          type: string
        model:
          type: string
        status:
          $ref: '#/components/schemas/JobStatus'
      type: object
    ModerationBlocked:
      description: Returned (with HTTP 400) when the input content moderation gate blocks a generation request. The block is a property of the request's prompt or input media — reword the prompt or change the input and retry. Branch on `restriction_reason`, which is stable and machine-readable.
      properties:
        error:
          description: Human-readable explanation of the block.
          type: string
        restriction_reason:
          description: Stable machine-readable block reason.
          enum:
          - input_csam
          - input_explicit_adult
          - input_upload_nudity
          - input_celebrity_likeness
          - strict_model_nsfw
          type: string
      required:
      - error
      - restriction_reason
      type: object
    JobStatus:
      description: Lifecycle state. `succeeded`/`failed`/`timeout` are terminal.
      enum:
      - pending
      - starting
      - processing
      - completing
      - succeeded
      - failed
      - timeout
      type: string
    Error:
      properties:
        error:
          properties:
            code:
              description: Stable machine-readable code.
              example: model_not_available
              type: string
            message:
              type: string
            type:
              description: Error category.
              example: invalid_request_error
              type: string
          required:
          - type
          - code
          - message
          type: object
      required:
      - error
      type: object
  securitySchemes:
    ApiKeyAuth:
      bearerFormat: bpx_live_*
      description: 'API key as a bearer token: Authorization: Bearer bpx_live_xxx'
      scheme: bearer
      type: http
x-refined-from:
- budgetpixel-openapi.yaml
- budgetpixel-openapi.yaml
