openapi: 3.2.0
info:
  title: Budgetpixel X AI API
  version: '2026-06-20'
  contact:
    email: support@budgetpixel.com
    name: BudgetPixel Support
  description: 'Operations tagged xAI across 2 of this provider''s published API definitions: budgetpixel-openapi.yaml, budgetpixel-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- description: Production
  url: https://api.budgetpixel.com/v1
security:
- ApiKeyAuth: []
tags:
- name: xAI
paths:
  /images/grok-imagine-image:
    post:
      description: 'xAI Grok Imagine — image generation with strong aesthetics and instruction-based image editing from up to 3 reference images. Flat 35 credits per image at 1K or 2K.


        **Asynchronous.** Returns a job `id` (the image is not in this response). Poll [`GET /v1/images/{id}`](/api-reference/images/get-image-job-status) until `status` is `succeeded` — the generated image URLs are in that response''s `images` array (each `{ url, position }`).'
      operationId: createImage_grok_imagine_image
      requestBody:
        content:
          application/json:
            schema:
              properties:
                aspect_ratio:
                  default: '1:1'
                  description: Output aspect ratio.
                  enum:
                  - '1:1'
                  - '16:9'
                  - '9:16'
                  - '4:3'
                  - '3:4'
                  - '3:2'
                  - '2:3'
                  - '2:1'
                  - '1:2'
                  - auto
                  - match_input_image
                  type: string
                num_images:
                  default: 1
                  description: Number of images to generate.
                  maximum: 4
                  minimum: 1
                  type: integer
                prompt:
                  description: Text description of the image to generate.
                  type: string
                reference_images:
                  description: Optional reference images (up to 3) for image editing. Each item is a public image URL, a data URI, raw base64, or an uploaded-file URL from POST /v1/uploads. Omit for text-to-image. Use aspect_ratio "match_input_image" (or "auto") to let the model follow the input.
                  items:
                    type: string
                  maxItems: 3
                  type: array
                size:
                  default: 1K
                  description: Output resolution tier. Both tiers bill the same 35 credits per image.
                  enum:
                  - 1K
                  - 2K
                  type: string
              required:
              - prompt
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateImageResponse'
          description: Job accepted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Generate image with Grok Imagine
      tags:
      - xAI
    servers:
    - description: Production
      url: https://api.budgetpixel.com/v1
  /images/grok-imagine-image-2:
    post:
      description: 'xAI Grok Imagine 2.0 — the latest Grok image model: precise editing, infographics, ads, game assets, UI/UX mockups and storyboards. Text-to-image, plus editing from a single input image (the input image is free). Billing: per image, quality × resolution — low 1K = 50, low 2K = 80, medium 1K = 80, medium 2K = 100 credits. Use POST /v1/cost for an exact quote.


        **Asynchronous.** Returns a job `id` (the image is not in this response). Poll [`GET /v1/images/{id}`](/api-reference/images/get-image-job-status) until `status` is `succeeded` — the generated image URLs are in that response''s `images` array (each `{ url, position }`).'
      operationId: createImage_grok_imagine_image_2
      requestBody:
        content:
          application/json:
            schema:
              properties:
                aspect_ratio:
                  default: '1:1'
                  description: Output aspect ratio. Ignored when `image` is supplied — an edit always matches the input image's frame.
                  enum:
                  - '1:1'
                  - '16:9'
                  - '9:16'
                  - '4:3'
                  - '3:4'
                  - '3:2'
                  - '2:3'
                  - '2:1'
                  - '1:2'
                  - auto
                  type: string
                image:
                  description: Optional input image to edit (one only — this model has no multi-reference form). Provide a public image URL, a data URI, raw base64, or an uploaded-file URL from POST /v1/uploads. Omit for text-to-image. Costs nothing extra.
                  type: string
                num_images:
                  default: 1
                  description: Number of images to generate. This model returns a single image per request.
                  maximum: 1
                  minimum: 1
                  type: integer
                prompt:
                  description: Text description of the image to generate, or the edit to apply when `image` is supplied.
                  type: string
                quality:
                  default: low
                  description: 'Rendering quality. Combines with `size` to set the price: low bills 50 (1K) / 80 (2K), medium bills 80 (1K) / 100 (2K). This model has no `high` tier.'
                  enum:
                  - low
                  - medium
                  type: string
                size:
                  default: 1K
                  description: 'Output resolution tier. Combines with `quality` to set the price: 1K bills 50 credits at low quality and 80 at medium.'
                  enum:
                  - 1K
                  - 2K
                  type: string
              required:
              - prompt
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateImageResponse'
          description: Job accepted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Generate image with Grok Imagine 2.0
      tags:
      - xAI
    servers:
    - description: Production
      url: https://api.budgetpixel.com/v1
components:
  responses:
    Forbidden:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Authenticated but not permitted (plan gate, ownership, account restriction). Content-moderation blocks are 400, not 403.
    BadRequest:
      content:
        application/json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/Error'
            - $ref: '#/components/schemas/ModerationBlocked'
      description: The request was malformed, referenced an unavailable model, or was blocked by input content moderation (moderation blocks carry a `restriction_reason` — see ModerationBlocked).
    TooManyRequests:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Rate or queue limit reached. Retry after a short delay.
    Unauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Missing or invalid API key.
  schemas:
    CreateImageResponse:
      properties:
        id:
          description: Opaque job id — use it to poll status.
          example: img_a1b2c3d4e5f6
          type: string
        message:
          type: string
        model:
          type: string
        status:
          $ref: '#/components/schemas/JobStatus'
      type: object
    ModerationBlocked:
      description: Returned (with HTTP 400) when the input content moderation gate blocks a generation request. The block is a property of the request's prompt or input media — reword the prompt or change the input and retry. Branch on `restriction_reason`, which is stable and machine-readable.
      properties:
        error:
          description: Human-readable explanation of the block.
          type: string
        restriction_reason:
          description: Stable machine-readable block reason.
          enum:
          - input_csam
          - input_explicit_adult
          - input_upload_nudity
          - input_celebrity_likeness
          - strict_model_nsfw
          type: string
      required:
      - error
      - restriction_reason
      type: object
    JobStatus:
      description: Lifecycle state. `succeeded`/`failed`/`timeout` are terminal.
      enum:
      - pending
      - starting
      - processing
      - completing
      - succeeded
      - failed
      - timeout
      type: string
    Error:
      properties:
        error:
          properties:
            code:
              description: Stable machine-readable code.
              example: model_not_available
              type: string
            message:
              type: string
            type:
              description: Error category.
              example: invalid_request_error
              type: string
          required:
          - type
          - code
          - message
          type: object
      required:
      - error
      type: object
  securitySchemes:
    ApiKeyAuth:
      bearerFormat: bpx_live_*
      description: 'API key as a bearer token: Authorization: Bearer bpx_live_xxx'
      scheme: bearer
      type: http
x-refined-from:
- budgetpixel-openapi.yaml
- budgetpixel-openapi.yaml
