openapi: 3.2.0
info:
  contact:
    email: support@budgetpixel.com
    name: BudgetPixel Support
  description: 'The BudgetPixel developer API for programmatic image, video, music and

    sound-effect generation.'
  title: BudgetPixel Social API
  version: '2026-06-20'
servers:
- description: Production
  url: https://api.budgetpixel.com/v1
security:
- ApiKeyAuth: []
tags:
- description: Publish posts to your BudgetPixel feed
  name: Social
paths:
  /posts:
    post:
      description: 'Publish a post to your public BudgetPixel feed — the same posts you create on the

        site, so your local agent can publish on your behalf. **Synchronous**: the response

        carries the live post''s `id` and `url`.


        **Pricing: 10 credits per successful post**, charged only on success. Estimate via

        `POST /v1/cost` with

        `{"model": "create-post"}`.


        **Media composition** (one of):

        - **Images** — 1 to 6 images. Each image can optionally carry `model` and

        `prompt` generation info, shown on the image''s info panel on the post.

        - **Video** — exactly 1 video, optionally with up to 3 accompanying images.

        - **Audio** — exactly 1 audio file (cannot mix with other media). Supports

        `song_name`, `genre`, `lyrics`, and dedicated `cover_image` art (the cover is

        NOT a media item — pass it in its own field).


        Each `media[].file` accepts a public URL, an uploaded-file URL from

        `POST /v1/uploads`, a data URI, or raw

        base64. **Size limits:** images 15 MB; audio 50 MB; video 100 MB — note that URL

        inputs are fetched with a 30 MB cap and uploads support up to 50 MB, so ~50 MB is

        the practical video ceiling via the API.


        **Limits & moderation:**

        - The API allows **5 posts per hour**, inside the site-wide limit of **20 posts

        per hour** per account across all surfaces (shares included) — both on top of

        the API''s global rate limits. Exceeding any of them returns `429`.

        - Posting a byte-identical file you''ve already posted returns `409` with the

        existing post''s id.

        - Posts published through the API carry a public **"via API"** label, like posts

        made with an Ava companion carry hers.

        - Image/video posts are **reviewed after publishing** (content rating and spam

        scoring). Feed and gallery visibility follow that review and your account

        standing; a post hidden by review is not refunded.'
      operationId: createPost
      requestBody:
        content:
          application/json:
            schema:
              properties:
                content:
                  description: Optional caption (max 2000 characters).
                  type: string
                cover_image:
                  description: Audio posts only — cover art for the track (a public URL, an uploaded-file URL, a data URI, or raw base64; image, max 15 MB). Passed as its own field, never as a `media` item (audio posts can't mix media).
                  type: string
                genre:
                  description: Audio posts only — one of the site's canonical music genres (exact match). Omit to have the genre classified automatically after publishing.
                  enum:
                  - Pop
                  - Rock
                  - Hip-Hop & Rap
                  - R&B & Soul
                  - Electronic & Dance
                  - Lo-fi & Chill
                  - Ambient
                  - Jazz
                  - Classical
                  - Country
                  - Folk & Acoustic
                  - Metal
                  - Blues
                  - Latin
                  - K-Pop & J-Pop
                  - Reggae
                  - Soundtrack & Cinematic
                  - Other
                  type: string
                lyrics:
                  description: Audio posts only.
                  type: string
                media:
                  description: 'The post''s media items, in display order. One of: 1-6 images; OR exactly 1 video plus up to 3 images; OR exactly 1 audio file (audio can''t mix with other media).'
                  items:
                    properties:
                      file:
                        description: Public URL, uploaded-file URL, data URI, or raw base64.
                        type: string
                      model:
                        description: Images only — the model that generated this image, shown on the image's info panel (e.g. `seedream-5.0-pro`).
                        maxLength: 100
                        type: string
                      prompt:
                        description: Images only — the prompt that generated this image, shown on the image's info panel.
                        maxLength: 10000
                        type: string
                      type:
                        description: Optional declared kind — validated against the file's actual content.
                        enum:
                        - image
                        - video
                        - audio
                        type: string
                    required:
                    - file
                    type: object
                  maxItems: 6
                  minItems: 1
                  type: array
                song_name:
                  description: Audio posts only — track title.
                  type: string
              required:
              - media
              type: object
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePostResponse'
          description: Post published.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient credits to publish.
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Duplicate media — you already posted a byte-identical file.
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Publish a post
      tags:
      - Social
components:
  schemas:
    ModerationBlocked:
      description: Returned (with HTTP 400) when the input content moderation gate blocks a generation request. The block is a property of the request's prompt or input media — reword the prompt or change the input and retry. Branch on `restriction_reason`, which is stable and machine-readable.
      properties:
        error:
          description: Human-readable explanation of the block.
          type: string
        restriction_reason:
          description: Stable machine-readable block reason.
          enum:
          - input_csam
          - input_explicit_adult
          - input_upload_nudity
          - input_celebrity_likeness
          - strict_model_nsfw
          type: string
      required:
      - error
      - restriction_reason
      type: object
    CreatePostResponse:
      description: A published post.
      properties:
        credits_charged:
          example: 10
          type: integer
        id:
          description: The post id.
          type: integer
        media_type:
          enum:
          - image
          - video
          - audio
          type: string
        moderation:
          description: Image/video posts are rated after publish; feed visibility follows the review.
          example: pending
          type: string
        url:
          description: Public URL of the post.
          example: https://budgetpixel.com/p/12345
          format: uri
          type: string
      type: object
    Error:
      properties:
        error:
          properties:
            code:
              description: Stable machine-readable code.
              example: model_not_available
              type: string
            message:
              type: string
            type:
              description: Error category.
              example: invalid_request_error
              type: string
          required:
          - type
          - code
          - message
          type: object
      required:
      - error
      type: object
  responses:
    Forbidden:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Authenticated but not permitted (plan gate, ownership, account restriction). Content-moderation blocks are 400, not 403.
    BadRequest:
      content:
        application/json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/Error'
            - $ref: '#/components/schemas/ModerationBlocked'
      description: The request was malformed, referenced an unavailable model, or was blocked by input content moderation (moderation blocks carry a `restriction_reason` — see ModerationBlocked).
    TooManyRequests:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Rate or queue limit reached. Retry after a short delay.
    Unauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Missing or invalid API key.
  securitySchemes:
    ApiKeyAuth:
      bearerFormat: bpx_live_*
      description: 'API key as a bearer token: Authorization: Bearer bpx_live_xxx'
      scheme: bearer
      type: http
