openapi: 3.2.0
info:
  title: Budgetpixel Pruna AI API
  version: '2026-06-20'
  contact:
    email: support@budgetpixel.com
    name: BudgetPixel Support
  description: 'Operations tagged Pruna AI across 2 of this provider''s published API definitions: budgetpixel-openapi.yaml, budgetpixel-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- description: Production
  url: https://api.budgetpixel.com/v1
security:
- ApiKeyAuth: []
tags:
- name: Pruna AI
paths:
  /images/p-image:
    post:
      description: 'Pruna AI P-Image — an optimised Qwen-based text-to-image model generating 1-megapixel images in about a second. Built for rapid iteration at very low cost.


        **Asynchronous.** Returns a job `id` (the image is not in this response). Poll [`GET /v1/images/{id}`](/api-reference/images/get-image-job-status) until `status` is `succeeded` — the generated image URLs are in that response''s `images` array (each `{ url, position }`).'
      operationId: createImage_p_image
      requestBody:
        content:
          application/json:
            schema:
              properties:
                aspect_ratio:
                  default: '1:1'
                  description: Output aspect ratio.
                  enum:
                  - '1:1'
                  - '16:9'
                  - '9:16'
                  - '4:3'
                  - '3:4'
                  - '3:2'
                  - '2:3'
                  type: string
                num_images:
                  default: 1
                  description: Number of images to generate. This model returns a single image per request.
                  maximum: 1
                  minimum: 1
                  type: integer
                prompt:
                  description: Text description of the image to generate. The model automatically enhances prompts for better results.
                  type: string
                seed:
                  description: Seed for reproducible generation. Omit for random.
                  type: integer
              required:
              - prompt
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateImageResponse'
          description: Job accepted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Generate image with P-Image
      tags:
      - Pruna AI
    servers:
    - description: Production
      url: https://api.budgetpixel.com/v1
  /images/p-image-edit:
    post:
      description: 'Pruna AI P-Image Edit — an optimised Qwen-based image editing model taking up to 3 reference images. Fast multi-image editing for composition, style transfer, and object manipulation. Refer to inputs as "image 1", "image 2" in the prompt.


        **Asynchronous.** Returns a job `id` (the image is not in this response). Poll [`GET /v1/images/{id}`](/api-reference/images/get-image-job-status) until `status` is `succeeded` — the generated image URLs are in that response''s `images` array (each `{ url, position }`).'
      operationId: createImage_p_image_edit
      requestBody:
        content:
          application/json:
            schema:
              properties:
                aspect_ratio:
                  default: match_input_image
                  description: Output aspect ratio. Defaults to matching the first reference image.
                  enum:
                  - match_input_image
                  - '1:1'
                  - '16:9'
                  - '9:16'
                  - '4:3'
                  - '3:4'
                  - '3:2'
                  - '2:3'
                  type: string
                num_images:
                  default: 1
                  description: Number of images to generate. This model returns a single image per request.
                  maximum: 1
                  minimum: 1
                  type: integer
                prompt:
                  description: Text instruction describing the desired edit or composition.
                  type: string
                reference_images:
                  description: Reference images to edit or compose (1-3). Each item is a public image URL, a data URI, raw base64, or an uploaded-file URL from POST /v1/uploads.
                  items:
                    type: string
                  maxItems: 3
                  type: array
                seed:
                  description: Seed for reproducible generation. Omit for random.
                  type: integer
              required:
              - prompt
              - reference_images
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateImageResponse'
          description: Job accepted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Generate image with P-Image Edit
      tags:
      - Pruna AI
    servers:
    - description: Production
      url: https://api.budgetpixel.com/v1
  /videos/p-video:
    post:
      description: 'Pruna AI P-Video — text-to-video; image-to-video with a start frame and an optional end frame; and audio-driven video from a supplied track. 720p or 1080p, 5 or 10 seconds, optional generated audio. Served by our direct Pruna integration.


        **Asynchronous.** Returns a job `id` (the video is not in this response). Poll [`GET /v1/videos/{id}`](/api-reference/videos/get-video-job-status) until `status` is `succeeded` — the video URL is in that response''s `video_url`.'
      operationId: createVideo_p_video
      requestBody:
        content:
          application/json:
            schema:
              properties:
                aspect_ratio:
                  default: '16:9'
                  description: Aspect ratio. Ignored when a start image already sets the frame.
                  enum:
                  - '16:9'
                  - '9:16'
                  - '1:1'
                  type: string
                audio:
                  description: Optional driving-audio track (MP3/WAV/FLAC). Provide a public audio URL or an uploaded-file URL from POST /v1/uploads (passed by URL, not inlined). When supplied, the video's length matches the audio and `length_seconds` is ignored — which changes the per-second charge, so estimate via POST /v1/cost.
                  type: string
                end_image:
                  description: Optional end frame, used together with `image` (the start frame) to interpolate the video between the two frames. Same input forms as `image`.
                  type: string
                generate_audio:
                  default: true
                  description: Keep the model's generated audio in the output (default true; no price impact).
                  type: boolean
                image:
                  description: Optional start frame for image-to-video. Provide a public image URL, a data URI, raw base64, or an uploaded-file URL from POST /v1/uploads. Omit for text-to-video.
                  type: string
                length_seconds:
                  default: 5
                  description: Video length in seconds. Ignored when `audio` is supplied.
                  enum:
                  - 5
                  - 10
                  type: integer
                prompt:
                  description: Text description of the video.
                  type: string
                resolution:
                  default: 720p
                  description: Output resolution.
                  enum:
                  - 720p
                  - 1080p
                  type: string
                seed:
                  description: Seed for reproducible generation. Omit for random.
                  type: integer
              required:
              - prompt
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateVideoResponse'
          description: Job accepted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Generate video with P-Video
      tags:
      - Pruna AI
    servers:
    - description: Production
      url: https://api.budgetpixel.com/v1
components:
  responses:
    Forbidden:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Authenticated but not permitted (plan gate, ownership, account restriction). Content-moderation blocks are 400, not 403.
    BadRequest:
      content:
        application/json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/Error'
            - $ref: '#/components/schemas/ModerationBlocked'
      description: The request was malformed, referenced an unavailable model, or was blocked by input content moderation (moderation blocks carry a `restriction_reason` — see ModerationBlocked).
    TooManyRequests:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Rate or queue limit reached. Retry after a short delay.
    Unauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Missing or invalid API key.
  schemas:
    CreateImageResponse:
      properties:
        id:
          description: Opaque job id — use it to poll status.
          example: img_a1b2c3d4e5f6
          type: string
        message:
          type: string
        model:
          type: string
        status:
          $ref: '#/components/schemas/JobStatus'
      type: object
    CreateVideoResponse:
      properties:
        id:
          description: Opaque job id — use it to poll status.
          type: string
        message:
          type: string
        model:
          type: string
        status:
          $ref: '#/components/schemas/JobStatus'
      type: object
    ModerationBlocked:
      description: Returned (with HTTP 400) when the input content moderation gate blocks a generation request. The block is a property of the request's prompt or input media — reword the prompt or change the input and retry. Branch on `restriction_reason`, which is stable and machine-readable.
      properties:
        error:
          description: Human-readable explanation of the block.
          type: string
        restriction_reason:
          description: Stable machine-readable block reason.
          enum:
          - input_csam
          - input_explicit_adult
          - input_upload_nudity
          - input_celebrity_likeness
          - strict_model_nsfw
          type: string
      required:
      - error
      - restriction_reason
      type: object
    JobStatus:
      description: Lifecycle state. `succeeded`/`failed`/`timeout` are terminal.
      enum:
      - pending
      - starting
      - processing
      - completing
      - succeeded
      - failed
      - timeout
      type: string
    Error:
      properties:
        error:
          properties:
            code:
              description: Stable machine-readable code.
              example: model_not_available
              type: string
            message:
              type: string
            type:
              description: Error category.
              example: invalid_request_error
              type: string
          required:
          - type
          - code
          - message
          type: object
      required:
      - error
      type: object
  securitySchemes:
    ApiKeyAuth:
      bearerFormat: bpx_live_*
      description: 'API key as a bearer token: Authorization: Bearer bpx_live_xxx'
      scheme: bearer
      type: http
x-refined-from:
- budgetpixel-openapi.yaml
- budgetpixel-openapi.yaml
