openapi: 3.2.0
info:
  contact:
    email: support@budgetpixel.com
    name: BudgetPixel Support
  description: 'The BudgetPixel developer API for programmatic image, video, music and

    sound-effect generation.'
  title: BudgetPixel Audios API
  version: '2026-06-20'
servers:
- description: Production
  url: https://api.budgetpixel.com/v1
security:
- ApiKeyAuth: []
tags:
- description: Music and sound-effect job status
  name: Audios
paths:
  /audios/{job_id}:
    get:
      description: 'Poll until `status` is `succeeded`. The generated track (or sound effect) is

        returned as a short-lived signed `audio_url` (valid for several hours; re-call

        this endpoint for a fresh URL anytime — the underlying object is deleted 24h

        after generation). Serves every `POST /v1/audios/{model}` job — music and

        sound effects alike.'
      operationId: getAudio
      parameters:
      - description: The opaque job id returned by the create endpoint (e.g. `aud_...`).
        in: path
        name: job_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioJob'
          description: Current job status. `audio_url` is populated once succeeded.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Get music job status
      tags:
      - Audios
components:
  schemas:
    AudioJob:
      properties:
        audio_url:
          description: The generated track or sound effect (signed URL, valid several hours); present once `status=succeeded`.
          format: uri
          type: string
        created_at:
          format: date-time
          type: string
        error:
          type: string
        id:
          example: aud_a1b2c3d4e5f6
          type: string
        model:
          type: string
        status:
          $ref: '#/components/schemas/JobStatus'
        video_url:
          description: Video-to-sound-effect jobs only — the input video with the generated effects mixed in (signed URL, valid several hours); present once `status=succeeded`.
          format: uri
          type: string
      type: object
    Error:
      properties:
        error:
          properties:
            code:
              description: Stable machine-readable code.
              example: model_not_available
              type: string
            message:
              type: string
            type:
              description: Error category.
              example: invalid_request_error
              type: string
          required:
          - type
          - code
          - message
          type: object
      required:
      - error
      type: object
    JobStatus:
      description: Lifecycle state. `succeeded`/`failed`/`timeout` are terminal.
      enum:
      - pending
      - starting
      - processing
      - completing
      - succeeded
      - failed
      - timeout
      type: string
  responses:
    Forbidden:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Authenticated but not permitted (plan gate, ownership, account restriction). Content-moderation blocks are 400, not 403.
    NotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: The requested job was not found.
    Unauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Missing or invalid API key.
  securitySchemes:
    ApiKeyAuth:
      bearerFormat: bpx_live_*
      description: 'API key as a bearer token: Authorization: Bearer bpx_live_xxx'
      scheme: bearer
      type: http
